/*Perfil*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

/*Mi perfil*/
.miperfil {
 
  position: fixed; /* Fija la posición de la imagen */
  top: 2%; /* Coloca la imagen en la parte superior */
  position: absolute; /* Fija la posición de la imagen */
  left: 90%; /* Centra la imagen horizontalmente */
  transform: translateX(-50%); /* Centra la imagen horizontalmente */
  padding:30px;

}
.miperfil img {
  width:32px;
  height:32px;
  position: absolute; /* Fija la posición de la imagen */
  top: 20%; /* Coloca la imagen en la parte superior */
  left: 95%; /* Centra la imagen horizontalmente */
  transform: translateX(-50%); /* Centra la imagen horizontalmente */
}

.miperfil a{
  text-decoration: none;
  color:black;

}

/*TopBar*/
.topbar {
  
  background-color:#b1b1b1;
  padding:6px;
  
}

.topbar a{
  color:black;
  text-decoration:none;
  padding: 10px;
  font-size: 14px;
  
}

.textlogo {
  text-align: center;
 
}

.logo img {
  width:140px;
  height:80px;
}

.textlogo img{
  width:190px;
  height:90px;
  position: absolute; /* Fija la posición de la imagen */
  top: -10px; /* Coloca la imagen en la parte superior */
  left: 50%; /* Centra la imagen horizontalmente */
   transform: translateX(-50%); /* Centra la imagen horizontalmente */
}

.lineablanca {
  width: 100%; /* Ancho de la línea */
  height: 1px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
 
}

/*footer*/

.social-media img {
  width: 32px; /* Ancho deseado */
  height: 32px; /* Alto deseado */
   /* Para asegurarse de que la imagen ocupe todo el espacio especificado */
}

.container2 p {
  text-align: center;
}